body {
  margin: 0;
  padding: 0;
  background-color: rgb(73, 73, 73);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

ul {
  margin-top: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #2e2e2e;
}

/* Vill få bort margin ovanför navbar */

li {
  float:inline-start;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  animation: navBackGroundOut 450ms ease-in-out;
  animation-fill-mode: forwards;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  animation: navBackGroundIn 450ms ease-in-out;
  animation-fill-mode: forwards;
}

.motivatingTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.motivatingMessage {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.image {
  display: flex;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

@keyframes navBackGroundIn {
  from { background-color: #2e2e2e; }
  to { background-color: #111;}
}

@keyframes navBackGroundOut {
  from { background-color: #111; }
  to { background-color: #2e2e2e;}
}